* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body ,#root{
height: 100%;
width: 100%;
}

.box{
  background-color: rgb(204, 247, 247);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 8px solid rgb(96, 196, 138);
}